<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ entry.clientName }} - {{ entry.projectName }} - Alright Studio</title>

    {# Stylesheets #}
    {% if craft.app.config.general.devMode == false %}
        <link rel="stylesheet" href="{{ craft.app.config.general.assetHost }}{{ craft.stamp.er('/dist/main.css', 'query') }}"/>
    {% endif %}
</head>
<body>
    {% block main %}
        <p>
            Main block not found.
        </p>
    {% endblock %}
    
    {# Scripts #}
    {% if craft.app.config.general.devMode %}
        <script defer src="{{ craft.app.config.general.assetHost }}/dist/main.js"></script>
    {% else %}
        <script defer src="{{ craft.app.config.general.assetHost }}{{ craft.stamp.er('/dist/main.js', 'query') }}"></script>
    {% endif %}
</body>
</html>